<!DOCTYPE html>
<html>
<body>

<h1>Yoruba Sentence Grammar Checker</h1>

<form action="/checkSentence" method="post">
  Sentence:<br>
    <textarea name="sentence" rows="5" cols="70"></textarea>
    <br>
    <input type="submit">
</form>

<br>
Update the dictionary:
<form action="/updateDictionary" method="post">
  Word: <input type="text" name="word"><br>
  Part of speech:
  <input type="radio" name="pos" value="conjunctions"> Conjunction<br>
  <input type="radio" name="pos" value="disjunctions"> Disjunction<br>
  <input type="radio" name="pos" value="nouns"> Noun<br>
  <input type="radio" name="pos" value="post-verbal-modifiers"> Post-Verbal Modifier<br>
  <input type="radio" name="pos" value="pre-verbal-modifiers"> Pre-Verbal Modifier<br>
  <input type="radio" name="pos" value="qualifiers"> Qualifier<br>
  <input type="radio" name="pos" value="si-sententials"> Sentence-Initial Sentential<br>
  <input type="radio" name="pos" value="sf-sententials"> Sentence-Final Sentential<br>
  <input type="radio" name="pos" value="verbs"> Verb<br>
  <input type="submit">
</form>
</body>
</html>
